<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ビンゴゲーム</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>ビンゴゲーム</h1>
  <button id="generate">ビンゴカードを生成</button>
  <button id="draw-number">数値を抽選</button>
  <p>出た数値: <span id="drawn-number">-</span></p>
  <p>Click Counter : <span id ='popCounter'>0</span></p>
  <p>Bingo Counter : <span id ='bingoCounter'>0</span></p>
  <span id ='backButton'></span>

  <div id="bingo-board"></div>

  <script src="../js/bingo.js"></script>
  <audio id="draw-sound" src="../sounds/決定ボタンを押す35.mp3"></audio>
  <audio id="draw-sound-clear" src="../sounds/成功音.mp3"></audio>
  <audio id="clear-sound" src="sounds/clear.mp3"></audio>
</body>
</html>
